{{extend 'layout.html'}}

<div class="hero-unit">
	<h1>Accept Bitcoins, Receive Dollars</h1>
	<p>BitBuddy is for businesses that want to accept Bitcoins as payment but don't want to deal with all the technicalities. Just insert our "Pay with Bitcoins" button on your website. When users submit payment, you get dollars in your account. We take care of everything in between.</p>
	<p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
	<div class="span4">
		<h2>Easy</h2>
		<p>Just copy-paste our code onto your website. One-click payment for your customers.</p>
		<p><a class="btn" href="#">View details &raquo;</a></p>
	</div>
	<div class="span4">
		<h2>Secure</h2>
		<p>All sensitive data is fully encrypted. </p>
		<p><a class="btn" href="#">View details &raquo;</a></p>
	</div>
	<div class="span4">
		<h2>Guaranteed</h2>
		<p>You'll get every dollar you charge for your product, regardless of the current exchange rate for Bitcoins.</p>
		<p><a class="btn" href="#">View details &raquo;</a></p>
	</div>
</div>

{{end}}