{{extend 'layout_dashboard.html'}}

<span id="timer"></span>

<ul>
    <li>buyerEmail: {{=buyerEmail}}</li>
    <li>address: {{=address}}</li>
    <li>exchangeRate: {{=exchangeRate}}</li>
    <li>productName: {{=productName}}</li>
    <li>productDescription: {{=productDescription}}</li>
    <li>productPriceUSD: {{=productPriceUSD}}</li>
    <li>productShippingCost: {{=productShippingCost}}</li>
    <li>productPriceBTC: {{=productPriceBTC}}</li>
</ul>

<input id="refreshButton" type="button" value="Refresh" onClick="window.location.reload()">

<script>
    document.getElementById("refreshButton").style.display = "none";

    var minutes = 0;
    var seconds = 10;
    var SECONDS_PER_MINUTE = 60;
    var count = (minutes * SECONDS_PER_MINUTE) + seconds;

    var counter = setInterval(timer, 1000); //1000 will run it every 1 second

    function timer() {
        count = count - 1;
        if (count <= 0) {
            clearInterval(counter);
            document.getElementById("timer").innerHTML = "This exchange rate has expired and payments will no longer be accepted at this address. Please refresh to obtain a new rate and address.";
            document.getElementById("refreshButton").style.display = "block";
            return;
        }
        document.getElementById("timer").innerHTML = count + " seconds remaining";
    }
</script>

{{end}}