{{extend 'layout_dashboard.html'}}

<body onload="startTime()">

<span id="timer"></span>
<ul>
    <li>address: {{=address}}</li>
    <li>exchangeRate: {{=exchangeRate}}</li>
    <li>productName: {{=productName}}</li>
    <li>productDescription: {{=productDescription}}</li>
    <li>productPriceUSD: {{=productPriceUSD}}</li>
    <li>productShippingCost: {{=productShippingCost}}</li>
    <li>productPriceBTC: {{=productPriceBTC}}</li>
</ul>

<script>
    var minutes = 1;
    var seconds = 0;
    var secondsPerMinute = 60;
    var count = (minutes * secondsPerMinute) + seconds;

    var counter = setInterval(timer, 1000); //1000 will run it every 1 second

    function timer() {
        count = count - 1;
        if (count <= 0) {
            clearInterval(counter);
            return;
        }
        document.getElementById("timer").innerHTML = count + " secs";
    }

</script>

{{end}}